:root {
  --text: #e3e3e6;
  --text-h: #ffffff;
  --text-l: #ffffff;

  --primary: #e63946;
  --secondary: #ffb703;
  --accent: #2a9d8f;

  --bg: #1a1818;
  --paper: #242121;
  --border: #383333;

  --shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);

  --sans: "Inter", sans-serif;
  --heading: "DM Sans", sans-serif;
  --display: "DM Mono", monospace;

  font: 16px/145% var(--sans);
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[id] {
  scroll-margin-top: calc(var(--actions-height) + 10px);
}

html {
  scroll-behavior: smooth;
}
